form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 50%;
}

.form-input {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type='checkbox'] {
  margin-top: 5px;
}

input[type='file'] {
  padding: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:not(:disabled):hover  {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 10px;
  margin: 5px 0 0 0;
  height: 10px;
}
.one-line-form-input {
  display: flex;
  justify-content: space-between;
}
.password-strength-0 {
  outline-color: red;
}
.password-strength-1 {
  outline-color: orange;
}
.password-strength-2 {
  outline-color: yellow;
}
.password-strength-3 {
  outline-color: greenyellow;
}
.password-strength-4 {
  outline-color: green;
}
